/* ---------------------------------------------------------------------*/
/* New classes still playing with */
/* ---------------------------------------------------------------------*/
.gnomenu-thumbnails-background {
    /*border: 1px solid rgba(128, 128, 128, 0.4);
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;*/
    /*border-radius: 9px 0px 0px 9px;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 5px 14px 5px 10px;
}

/* not implemented yet */
.gnomenu-thumbnail-indicator {
    border: 4px solid rgba(255,255,255,0.7);
    padding: 1px;
}
/* ---------------------------------------------------------------------*/

.gnomenu-panel-box {
         border-image: url("t-panel-b.png") 12 12 12 12;
}

.gnomenu-panel-button {
         margin: 0px;
         padding: 0px 16px;
}

.gnomenu-panel-menu-button {
         margin: 0px;
         padding: 0px 16px;
}

.gnomenu-panel-menu-button:hover {
}

.gnomenu-main-menu-box {
}

.gnomenu-menu-top-pane {
    padding: 0px 0px 15px 0px;
}

.gnomenu-menu-middle-pane {
    padding: 0px 0px 0px 0px;
}

.gnomenu-menu-bottom-pane {
    padding: 0px 0px 0px 0px;
}

.gnomenu-user-group-box {
         border-image: url("b-panel.png") 12 12 12 12;
}

.gnomenu-user-group-button {
         padding: 9px 13px;
}

.gnomenu-user-group-button-label {
    font-size: 14px;
}

.gnomenu-user-group-button:hover {
}

.gnomenu-view-mode-box-wrapper {
}

.gnomenu-view-mode-box {
         border-image: url("b-panel.png") 12 12 12 12;
}

.gnomenu-view-mode-button {
    padding: 5px 12px;
}

.gnomenu-view-mode-button:hover {
}

.gnomenu-search-box {
}

.gnomenu-favorites-scrollbox {
    border-image: url("sepa-left.png") 12 12 12 12;
    padding: 8px ;
}

.gnomenu-favorites-box {
}

.gnomenu-favorite-button {
    padding: 5px 6px
}

.gnomenu-favorite-button:hover {
}

.gnomenu-category-places-power-group-box {
}

.gnomenu-category-places-workspace-wrapper {
    /*border: 1px solid yellow;*/
    padding: 0px 0px 0px 0px;
}

.gnomenu-category-places-scrollbox {
    border-image: url("sepa-right.png") 12 12 12 12;
    height: 384px;
    padding: 8px 0px;
}

.gnomenu-category-places-box {

}

.gnomenu-categories-box {
    width: 152px;
    padding-left: 5px;
}

.gnomenu-category-button {
}

.gnomenu-category-button-label {
    padding-left: 5px
}
.gnomenu-category-button:hover {
    border-image: url("hover.png") 12 12 12 12;
    color: rgba(255,255,255,0.9);
}

.gnomenu-category-button-selected {
    border-image: url("inset-panel-light.png") 12 12 12 12;
    color: rgba(82,79,72,0.5);
}

.gnomenu-places-box {
}

.gnomenu-power-group-box {
    border-image: url("b-panel-b.png") 12 12 12 12;
    padding-bottom: 6px;
    padding-top: 2px;
}

.gnomenu-power-group-button {
    padding: 5px 10px;
}

.gnomenu-power-group-button:hover {
}

.gnomenu-applications-scrollbox {
    border-image: url("b-panel-r.png") 12 12 12 12;
    padding-right: 1px;
    width: 482px;
}

.gnomenu-applications-box-wrapper {

}

.gnomenu-applications-list-box {
    padding-bottom: 0px;
    padding-left: 24px;
    padding-right: 0px;
    padding-top: 0px;
}

.gnomenu-application-button {
    padding: 0px 8px;
    width: 428px;
}

.gnomenu-application-button-label {
    padding: 10px 24px
}

.gnomenu-application-button:hover {
}

.gnomenu-application-button-selected {
}

.gnomenu-applications-grid-box {
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
}

.gnomenu-application-grid-button {
    padding: 5px;
    width: 82px;
    height: 72px;
}

.gnomenu-application-grid-button-label {
    text-align: center;
    width: 64px;
}

.gnomenu-application-grid-button:hover {
}

.gnomenu-application-grid-button-selected {
}

.gnomenu-selected-app-box {
         border-image: url("sepa.png") 12 12 12 12;
         padding: 6px 8px;
         text-align: right;
}

.gnomenu-selected-app-title {
    height: 15px;
    font-weight: bold;
    font-size: 12px;
}

.gnomenu-selected-app-description {
    height: 15px;
    max-width: 150px;
    font-size: 12px;
}
